.hero {
    height: 604px;
    background-color: $pink;

    &__inner {
        align-items: center;
        height: 100%;

        @include maxw992 {
            flex-direction: column;
            padding-top: 35px;
        }
    }

    &__box {
        margin-top: -35px;
        max-width: 308px;
        width: 100%;
        color: white;

        @include maxw992 {
            margin-bottom: 55px;
        }
    }

    &__title {
        font-size: 48px;
        line-height: 56px;
        font-weight: 700;
    }


    &__text {
        margin-top: 39px;
        line-height: 20px;
    }

    &__link {
        margin-top: 43px;
        border: 2px solid white;
        background-color: transparent;
        transition-duration: 0.2s;
        letter-spacing: 2px;

        &:hover {
            color: inherit;
            box-shadow: inset 0 0 15px white;
        }
    }

    &__img-wrapper,
    &__img {
        position: relative;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: 146px center;
    }

    &__img-wrapper {

        &::before,
        &::after {
            border-radius: 50%;

            @include maxw992 {
                top: 0;
                left: 0;
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: -6%;
            left: 16%;
            width: 677px;
            height: 677px;
            background-color: rgba(255, 255, 255, 0.4);
            animation: scale 2s ease-in-out infinite;
            @include maxw992 {
                width: 550px;
                height: 550px;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: -20%;
            left: 4%;
            width: 859px;
            height: 859px;
            background-color: rgba(255, 255, 255, 0.3);
            animation: scale 3s ease-in-out infinite;

            @include maxw992{
                width: 700px;
                height: 700px;  
            }
        }
    }

    &__img {
        z-index: 5;
        background-size: contain;
        background-position: center;
    }
}